.home-div{
  width: 100%;
  height: 1550px;
  overflow: auto;
}
.home-img1 {
    position: fixed;
    left: 100px;
    top: 150px;
    
 }
 .home-img2 {
    position: fixed;
    left: 100px;
    top: 450px;
    
 }
 .home-footer{
    position:absolute;
    left: 100px;
    top: 1400px; 
    width: 100%;
 }